/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #F0F1F3;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000000;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #F0F1F3;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFA601;
}
.navbar-light .navbar-nav .nav-link i{
    font-size: 20px;
    padding-top: 17px;
}
.navbar-light .navbar-nav .active>.nav-link i{
    color: #FFA601;
    border-radius: 50%;
    border: 1px solid #FFA601;
    padding: 10px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #042954;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #FFA601;
}

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
} */

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    border-bottom: 1px solid rgb(16, 1, 1);
}
#sidebar ul li a:hover {
    color: #0c0c0c;
    background: #a7a3a3;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #a7a3a3;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #051F3E;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.all-student{
    display: none;
}
.student-details{
    display: none;
}
.admission-form{
    display: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FFA001;
    border-color: #FFA001;
}
table th,td input[type=checkbox]{
    padding: 10px;
    margin-right: 15px;
}
.adminssion-form form input{
    background: #F0F1F3;
}
.adminssion-form form select{
    background: #F0F1F3;
    color: gray;
}
.adminssion-form form textarea{
    background: #F0F1F3;
    border: none;
    overflow: scroll;
}
.adminssion-form form button[type=submit]{
    background: #FFAE01;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.adminssion-form form button[type=submit]:hover{
    background: #042954;
}
.adminssion-form form button[type=reset]{
    background: #042954;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s ease;
}
.adminssion-form form button[type=reset]:hover{
    background: #FFAE01;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.user-popup{
    background-color: #FFFFFF;
    width: 16%;
    padding: 10px !important;
    position: absolute;
    top: 85px;
    box-shadow: 0 0 5px 2px gray;
    border-radius: 5px;
    display: none;
}
.user-popup-item ul li{
    list-style: none;
    line-height: 40px;
    padding-left: 40px;
    margin-left: -40px;
    transition: .3s ease;
}
.user-popup-item ul li:hover{
    background-color: gray;
}
.user-popup-item ul li:hover a{
    background-color: gray;
}
.user-popup-item ul li a{
    background-color: #FFFFFF;
    padding: 0 !important;
}
.message-popup ul li{
    list-style: none;
}
.message-popup{
    padding: 20px;
    width: 20%;
    position: absolute;
    top: 100px;
    left: 1050px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 2px gray;
    border-radius: 5px;
    height: 580px;
    overflow: scroll;
    display: none;
}
.message-popup ul li h5{
    background-color: #2AD7C5;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 200;
    text-align: center;
}
.message-popup ul{
    margin-left: -50px;
}
.message-popup ul li a i{
    font-size: 40px;
    color: gray;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
    padding: 10px 10px;
}
.message-popup ul li:hover{
    background-color: rgb(224, 222, 222);
}
.message-popup ul li a div p{
    font-size: 11px;
    line-height: 15px;
}

.notification-popup{
    padding: 20px;
    width: 20%;
    position: absolute;
    top: 100px;
    left: 1050px;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px 2px gray;
    border-radius: 5px;
    height: 580px;
    overflow: scroll;
    display: none;
}
.notification-popup ul li h5{
    background-color: #FF3131;
    padding: 10px;
    color: #FFFFFF;
    font-weight: 200;
    text-align: center;
}
.notification-popup ul{
    margin-left: -50px;
}
.notification-popup ul li a i{
    font-size: 40px;
    color: gray;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
    padding: 10px 10px;
}
.notification-popup ul li:hover{
    background-color: rgb(224, 222, 222);
}
.notification-popup ul li a div p{
    font-size: 11px;
    line-height: 15px;
}

.show-user-popup{
    display: block;
}
.show-message-popup{
    display: block;
}
.show-notification-popup{
    display: block;
}
.add-routine{
    position: absolute;
    top: 151px;
    left: 525px;
}
.main-routine{
    display: none;
    position: fixed;
    overflow-y: hidden;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: rgb(22, 2, 2);
    padding: 65px 100px;
    z-index: 9999;
}
.no-scroll {
    overflow: hidden;
  }

.new-routine-area td{
    background: #e0e6e6;
}
.new-routine-area input{
    width: 100%;
    padding: 11px 5px;
    background: #e0e6e6;
    border: none;
}
.new-routine-area{
    color: #000;
    background: #fcfcfc;
    border-radius: 10px;
}
.new-routine-area h1{
    cursor: pointer;
}
.new-routine-area h1 span{
    position: absolute;
    right: 80px;
    top: 50px;
    background: red;
    border-radius: 50%;
    color: #fff;
    font-weight: 100;
    padding: 5px 15px;
}
.routine-list{
    background-color: #bbd7f7;
    width: 100%;
}
.routine-list h2{
    margin-right: 300px;
    background: blue;
    padding: 20px 30px;
    margin-top: -15px;
    color: #fff;
}
.exam-routine{
    display: none;
    position: absolute;
    top: 120px;
    left: 300px;
    width: 70%;
    background: rgb(20, 1, 1);
    padding: 70px 0;
}
.exam-routine-area{
    width: 80%;
    margin: auto;
    background: #2AD7C5;
    border-top-left-radius: 250px;
    border-bottom-right-radius: 250px;
}
.exam-routine-close{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: red;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    padding: 3px 10px;
}
.add-exam-routine{
    position: absolute;
    top: 148px;
    left: 559px;
}
.profile-popup{
    display: none;
    position: absolute;
    top: 107px;
    left: 403px;
    background: rgb(249, 250, 249);
    padding: 20px 40px 40px 40px;
    box-shadow: 0px 0px 0px 410px rgb(0, 0, 0);
    border-radius: 20px;
    width: 50%;
}
.profile-popup input{
    width: 73%;
    margin-left: 20px;
}
.edit-profile-section{
    display: none;
    position: absolute;
    top: 37px;
    width: 60%;
    left: 303px;
    background: #fff;
    box-shadow: 0 0 200px 20px rgb(63, 63, 63);
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.edit-profile-section h5{
    cursor: pointer;
}
.edit-profile-section .edit-profile-form{
    padding: 20px 50px 50px 50px;
}
.edit-profile-section input[type="text"]{
    width: 70%;
    background-color: #f1f1f2;
    border: none;
}
.edit-profile-section input[type="email"]{
    width: 70%;
    background-color: #f1f1f2;
    border: none;
}
.edit-profile-section textarea{
    width: 70%;
    background-color: #f1f1f2;
    border: none;
}
.edit-profile-section label{
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.close-profile-popup{
    color: red;
    cursor: pointer;
}
.profile-image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* login page */
/* Style the image container */
.image-container {
    position: relative; /* Ensure relative positioning for absolute child elements */
    width: 105%; /* Adjust the width as needed */
    max-width: 800px; /* Set a max width if desired */
    height: 74vh;
}

/* Style the image */
.image-container img {
    width: 105%;
    height: 75vh;
    display: block;
    margin-left: -20px;
}

/* Style the overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.5); /* Adjust the color and opacity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Style the overlay text */
.overlay p {
    color: rgb(213, 213, 213); /* Text color */
    font-size: 35px; /* Font size */
    text-align: center; /* Text alignment */
    font-weight: bold; /* Font weight */
    padding: 20px; /* Padding around the text */
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.main-login p a{
    text-decoration: solid;
    color: #7D2AE8;
    font-weight: 800;
}
.main-login input{
    width: 100%;
    border: none;
    background-color: #fff;
    padding: 10px;
    border-bottom: 2px solid gray;
    z-index: 1;
}
.main-login .email{
    background-color: #fff;
    padding: 5px;
}
.main-login i{
    color: #7D2AE8;
    font-size: 25px;
}
.main-login input:focus{
    outline: none;
    border-radius: 5px;
}
.main-login form{
    background-color: #fff;
    padding: 40px;
}
.main-login{
    background: #7D2AE8;
    padding: 84px 0;
}
.main-login .login-form .container{
    background-color: #fff;
    width: 65%;
}
.main-login .login-btn{
    background-color: #7D2AE8;
    padding: 5px 142px;
    color: #fff;
}
.main-login h4{
    border-bottom: 3px solid #7D2AE8;
    display: inline-block;
}
.college-index{
    width: 86%;
    font-family: 'Times New Roman', Times, serif;
}
.college-index ul li{
    list-style: none;
}
.college-index ul div{
    position: relative;
    padding: 5px;
    transition: 0.6s all;
    cursor: pointer;
}
.college-index ul div:hover{
    background-color: rgb(122, 122, 122);
}
.college-index ul div::before{
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border: 5px solid rgb(122, 122, 122);
    border-width: 2px 2px 0 0;
    /* rotate: 180deg; */
    opacity: 0;
    transition: .5s all;
}
.college-index ul div::after{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border: 5px solid rgb(122, 122, 122);
    border-width: 0 0 2px 2px;
    opacity: 0;
    transition: .5s all;
    
}
.college-index ul div:hover::before{
    top: -5px;
    right: -5px;
    opacity: 1;
}
.college-index ul div:hover::after{
    left: -5px;
    bottom: -5px;
    opacity: 1;
}
.college-index ul li a{
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
}
.college-index ul i {
    color: #fff;
}
.webpage-side-menu{
    width: 200px;
}
.college-index .webpage-side-menu ul li{
    color: gray;
    border-bottom: 1px solid rgb(79, 78, 78);
    text-align: center;
    transition: .7s all;
    cursor: pointer;
    margin-left: -9px;
}
.college-index .webpage-side-menu ul{
    margin-left: -46px;
}
.college-index .webpage-side-menu ul li:hover{
    background-color: gray;
}
.college-index .webpage-side-menu ul li a{
    padding: 6px 30px;
    font-size: 14px;
    color: #d1d0d0;
    text-transform: none;
    font-weight: 100;
}
.webpage-index-content{
    width: 100%;
    padding: 20px;
    /* height: 70vh; */
}


